
html, body {
  margin: 0px;
  background-color: aquamarine;
  color: blue;
}

.titulo{
  text-align: center;
  background-color: rgb(236, 29, 219);
  color: pink;
  padding: 20px;
  font-size: 10px;
}
.carta{
  position: relative;
  width: 100px;
  left: 100px;
  margin-left: -75px;

}

#computadora-cartas,#jugador-cartas{
  height: 160px;
}